body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /*background-color: blue;*/
    background-image: url('grass.jpg');
    height: 100vh;
}
form{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    width: 280px;
    padding: 2rem;
    border-radius:4px ;
}
h1{
    font-size: 1.4rem;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
input{
    width: 280px;
    margin:0.4rem;
    padding: 0.4rem;
}
button{
    width: 280px;
    margin:0.4rem;
    padding:0.4rem;
    background-color: blue;
    border: none;
    border-radius: 7px;
}
button :hover {
    background-color: aquamarine;
}